---
layout: base
---
<article class="hentry">
    <header class="entry-header">
        <h1 class="entry-title">{{title}}</h1>
        <ul class="meta">
            <li class="meta-date">
                <time class="entry-date published" datatime="{{ date | dateToRfc3339 }}">{{ date | formatDate }}</time>
            </li>
            <li class="meta-author">by {{ author }}</li>
            <li class="meta-reading-time">{{ content | readingTime }}</li>
        </ul>
    </header>
    
    <div class="affiliate-disclaimer">
        This post may contain affiliate links, which help support us at no cost to you!<br>Learn more <a href="/en/pages/affiliates">here</a>.
    </div>

    <div class="entry-content">
        {{ content | safe }}
    </div>
</article>