---
layout: base
---
<article class="hentry">
    <header class="entry-header">
        <h1 class="entry-title">{{title}}</h1>
        <ul class="meta">
            <li class="meta-date">
                <time class="entry-date published" datatime="{{ date | dateToRfc3339 }}">{{ date | formatDate }}</time>
            </li>
            <li class="meta-author">by {{ author }}</li>
            <li class="meta-reading-time">{{ content | readingTime }}</li>
        </ul>
    </header>
    
    <div class="affiliate">
        This post may contain affiliate links, which help support us at no cost to you! Learn&nbsp;more&nbsp;<a href="/en/affiliates">here</a>.
    </div>

    <div class="entry-content">
        {{ content | safe }}
    </div>
    <br>

    {% include "affiliates.njk" %}

    ...
    <button id="return-to-top" class="return-to-top" onclick="scrollToTop()">↑ Top</button>

</article>

<script>
    // Show the button when scrolling down
    window.addEventListener('scroll', function () {
        const button = document.getElementById('return-to-top');
        if (window.scrollY > 300) {
            button.style.display = 'block';
        } else {
            button.style.display = 'none';
        }
    });

    // Scroll to the top of the page
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>