---
permalink: /assets/css/bundle.css
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
{% include "./variables.css" %}
{% include "./reset.css" %}
{% include "./styles.css" %}
{% include "./components/button.css" %}
{% include "./components/navigation.css" %}
{% include "./components/hero.css" %}
{% include "./components/card.css" %}
{% include "./components/prose.css" %}
{% include "./components/newsletter.css" %}
{% include "./components/footer.css" %}
{% include "./components/syntax.css" %}
{% include "./components/affiliates.css" %}
{% include "./components/switch-il8n.css" %}
{% include "./components/social-icons.css" %}
{% include "./components/switch-darkmode.css" %}
{% include "./components/styleguide.css" %}
