---
layout: base
tags: home
seo:
  title: Travel Blog & Travel Guides
  description: Daniela and Will's travel blog featuring travel guides and tips and tricks for a gap year throughout Europe or Asia.
---

<div class="home-hero">
  <div class="home-hero-spacer"></div>
  <div class="home-hero-content">
    <p>
        Welcome to our travel blog!<br>In 2022-23 we embarked on a nine month trip through Europe, and now we are traveling through Southeast Asia. We will be sharing our trips, along with tips, guides, and recommendations from our experiences, so you don't make the same mistakes we did!
    </p>
  </div>
</div>
  <div class="travel-guides-container">
    <div class="travel-guide">
      <div style="padding-bottom: 0.5em;">
          <h1 class="center-text"><a style="text-decoration: none;" href="/en/writing/nine-months-europe/">9 Months in Europe</a></h1>
          <h2 class="subtle" style="text-align: center;">An Extended Travel Guide</h2>
      </div>
      <div>
          <a style="text-decoration: none;" href="/en/writing/nine-months-europe/">{% image "/assets/img/posts/europe/IMG_6788.jpg", "", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
      </div>
    </div>
    <div class="travel-guide">
      <div style="padding-bottom: 0.5em;">
          <h1 class="center-text"><a style="text-decoration: none;" href="/en/writing/five-day-iceland-itinerary/">Iceland Iinerary</a></h1>
          <h2 class="subtle" style="text-align: center;">A Five Day Iceland Itinerary</h2>
      </div>
      <div>
        <a style="text-decoration: none;" href="/en/writing/five-day-iceland-itinerary/">{% image "/assets/img/posts/europe/IMG_6788.jpg", "", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
      </div>
    </div>
    <div class="travel-guide">
        <div style="padding-bottom: 0.5em;">
            <h1 class="center-text"><a style="text-decoration: none;" href="/en/writing/four-months-asia/">4 Months in SE Asia</a></h1>
            <h2 class="subtle" style="text-align: center;">An Extended Travel Guide</h2>
        </div>
        <div>
          <a style="text-decoration: none;" href="/en/writing/four-months-asia/">{% image "/assets/img/posts/europe/IMG_6788.jpg", "", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
      </div>
  </div>
</div>
