---
layout: base
tags: home
seo:
  title: Travel Blog & Travel Guides
  description: Daniela and Will's travel blog featuring travel guides and tips and tricks for a gap year throughout Europe or Asia.
---

<div class="home-hero">
  <div class="home-hero-spacer"></div>
  <div class="home-hero-content">
    <p>
        Welcome to our travel blog!<br>In 2022-23 we embarked on a nine month trip through Europe, and now we are traveling through Southeast Asia. We will be sharing our trips, along with tips, guides, and recommendations from our experiences, so you don't make the same mistakes we did!
    </p>
  </div>
</div>
  <div class="travel-guides-container">
    <div class="travel-guide">
      <div style="padding-bottom: 0.5em;">
        <h1 class="center-text"><a style="text-decoration: none;" href="/en/writing/diy-lombok-loop">Lombok by Motorbike</a></h3>
        <h2 class="subtle" style="text-align: center;">Everything you need to know before riding around Lombok!</h2>
    </div>
    <div>
        <a style="text-decoration: none;" href="/en/writing/diy-lombok-loop">{% image "/assets/img/posts/asia/lombokcover.jpeg", "", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
    </div>
    </div>
    <div class="travel-guide">
      <div style="padding-bottom: 0.5em;">
          <h1 class="center-text"><a style="text-decoration: none;" href="/en/writing/nias-island/">How to Visit Nias Island</a></h1>
          <h2 class="subtle" style="text-align: center;">Everything you need to know before traveling to Nias, Indonesia!</h2>
      </div>
      <div>
          <a style="text-decoration: none;" href="/en/writing/nias-island/">{% image "/assets/img/posts/asia/niascover.jpeg", "Palm trees off the coast of Nias island", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
      </div>
    </div>
    <div class="travel-guide">
      <div style="padding-bottom: 0.5em;">
        <h1 class="center-text"><a style="text-decoration: none;" href="/en/writing/diy-the-ha-giang-loop/">DIY the Ha Giang Loop</a></h1>
        <h2 class="subtle" style="text-align: center;">Everything you need to know before doing this incredible ride!</h2>
    </div>
    <div>
        <a style="text-decoration: none;" href="/en/writing/diy-the-ha-giang-loop/">{% image "/assets/img/posts/asia/cover.jpg", "Us on the Ha Giang Loop", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
    </div>
    </div>
  </div>
</div>
