---
layout: page
title: About Us
tags: 'about'
draft: false
eleventyExcludeFromCollections: true
seo:
  title: About Us
  description: Learn more about Daniela and Will's travel adventures and our blog.
  changeFrequency: daily
  sitemapPriority: '1.0'
  excludeFromSitemap: false
  noIndex: false
---

<p>
  Welcome to our travel blog! In 2022-23 we embarked on a nine month trip through Europe, and now we are traveling through Southeast Asia. We will be sharing our trips, along with tips, guides, and recommendations from our experiences, so you don't make the same mistakes we did!
</p>

{% image "/assets/img/screenshots.png", "Screenshot of elva in VSCodium and the browser", "100vw", "elva uses Front Matter CMS for easy content management", "rounded", "lazy", "auto", "async", "2400", "1688" %}

<h3>Daniela</h3>
<p>
  Daniela has been really busy writing posts for the blog and taking awesome photos for <a href="https://www.instagram.com/danielaandwill">our Instagram</a>, so check back shortly for this space to be updated...
</p>

<h3>Will</h3>
<p>
  Hey, I'm Will! I am the main web development force behind this blog, and some of the writing talent. I have always wanted to explore more of the world - and a nine month trip through Europe was a great place to start. Since going back to school for Computer Science, I had been itching to get out and see more of the world again, and Southeast Asia on a budget is a great way to do that! My contribution to the Southeast Asia trip was mainly Japan, a place I have really wanted to visit. If you want to read more of my writing make sure to check out the more technologically, financially, and organizationally aimed articles, since that is where I shine.
</p>
<p>
  If you want to see more of my work check out <a href="https://williamvdg.me">my blog</a>, <a href="https://github.com/willtheorangeguy">my GitHub</a>, or for nerdy video content, there is <a href="https://youtube.com/c/willtheorangeguy">YouTube</a>.
</p>
