---
layout: page
title: About Us
tags: 'about'
draft: false
eleventyExcludeFromCollections: true
seo:
  title: About Us
  description: Learn more about Daniela and Will's travel adventures and our blog.
  changeFrequency: daily
  sitemapPriority: '1.0'
  excludeFromSitemap: false
  noIndex: false
---

<p>
  Welcome to our travel blog! In 2022-23 we embarked on a nine month trip through Europe, and in 2025 we traveled through Southeast Asia. We will be sharing our trips, along with tips, guides, and recommendations from our experiences, so you don't make the same mistakes we did!
</p>

{% image "/assets/img/IMG_0237.jpg", "Photo of Daniela and Will on the coast of Portugal", "100vw", "Us on the coast of Portugal!", "rounded", "lazy", "auto", "async", "50", "50" %}

<h3>Daniela</h3>
<p>
  Hello there! I have always loved exploring new places and learning about the world around me. Traveling has been a great way to do both. After traveling through Europe, I tried to balance my passion for travel with the reality of school while on a budget - which ultimately led me to write this blog.
</p>

<h3>Will</h3>
<p>
  Hey, I'm Will! I am the main web development force behind this blog, and some of the writing talent. I have always wanted to explore more of the world - and a nine month trip through Europe was a great place to start. Since going back to school for Computer Science, I had been itching to get out and see more of the world again, and Southeast Asia on a budget is a great way to do that! If you want to read more of my writing make sure to check out the more technologically, financially, and organizationally aimed articles, since that is where I shine.
</p>
<p>
  If you want to see more of my work check out <a href="https://williamvdg.me">my blog</a>, <a href="https://github.com/willtheorangeguy">my GitHub</a>, or for nerdy video content, there is <a href="https://youtube.com/c/willtheorangeguy">YouTube</a>.
</p>
