---
layout: page
title: Affiliates
tags: 'policies'
draft: false
eleventyExcludeFromCollections: true
seo:
  title: Affiliates
  description: Learn about our policies on affiliate links and how they help support us.
  changeFrequency: yearly
  sitemapPriority: '1.0'
  excludeFromSitemap: false
  noIndex: false
---

<p>
  Welcome to our travel blog! In 2022-23 we embarked on a nine month trip through Europe, and now (in 2025) we are traveling through Southeast Asia. We will be sharing our trips, along with tips, guides, and recommendations from our experiences, so you don't make the same mistakes we did!
</p>