---
layout: page
title: Do Not Sell My Personal Information
tags: 'policies'
draft: false
eleventyExcludeFromCollections: true
seo:
  title: Do Not Sell My Personal Information
  description: Learn about our policies.
  changeFrequency: yearly
  sitemapPriority: '1.0'
  excludeFromSitemap: false
  noIndex: false
---

<ul>
  <li>We have not sold your personal information.</li>
  <li>We will not sell your personal information.</li>
  <li>You are automatically opted-out from the Daniela and Will Travel Blog selling your personal information now or in the future.</li>
  <li>Please review our <a href="en/privacy/">privacy policy</a> to learn more about the personal information we retain, why we retain it, and your rights regarding this information.</li>
</ul>

<p><i>Adapted from that of <a href="https://ca.pcpartpicker.com/do-not-sell-my-personal-information/">PCPartPicker</a>.</i></p>