---
layout: page
title: Privacy Policy
tags: 'policies'
draft: false
eleventyExcludeFromCollections: true
seo:
  title: Privacy Policy
  description: Learn about our policies.
  changeFrequency: yearly
  sitemapPriority: '1.0'
  excludeFromSitemap: false
  noIndex: false
---

<p>
  Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by the Daniela and Will Travel Blog, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.
</p>

<p>
  We are committed to protecting your privacy and collecting only the minimum amount of info needed to provide our software and services. Your use of the Services indicates you agree to this policy and <a href="/en/terms">our terms of use</a>.
</p>

<h2>Summary</h2>
<div>
  <p>Nothing in this policy contradicts the following statements:</p>
  <ol>
    <li>We <strong>DO NOT</strong> collect any of your personal info, including your IP address, other than information you voluntarily provide.</li>
    <li>We <strong>DO NOT</strong> sell your personal info to advertisers or other third parties.</li>
    <li>We share your personal info only when legally required, or when reasonably necessary to prevent harm in an emergency situation.</li>
    <li>We retain your personal info, excluding info you make public, for <strong>no more than 30 days</strong> after you request deletion.</li>
    <li>We have <strong>NEVER</strong> received any legal or government demands for user information.</li>
  </ol>
</div>

<h2>Complete Terms</h2>
<p>
  As used in this policy, “Personal Info” is data that can identify a particular person or device. Aggregate data is not considered Personal Info.
</p>

<h3>
  1. The Daniela and Will Travel Blog never collects your Personal Info except to communicate with you
</h3>
<p>
  Our Services do not collect any of your Personal Info. Unlike most websites, our site does not collect your IP address. We do detect non-personally identifiable geo-location information to optimize our services, but we definitely do not collect your precise geo-location or associate geo-location information with a particular user.
</p>
<p>
  Because we do not collect information about your online activities over time and across third-party websites or online services, there is no need for us to respond to a browser's Do Not Track settings, although we strongly support a consumer's right to set such a preference and encourage all website operators to honor this consumer choice.
</p>
<p>
  We may request your email address or a username to communicate with you. This info is used only as you would expect and deleted upon request.
</p>
<p>
  Optionally, you may choose to provide your email address and communicate with us via email.
</p>
<p>
  We use <a href="https://fonts.bunny.net/faq">BunnyFonts</a> to serve our fonts, which is a privacy-focused alternative to Google Fonts. They do not collect any information. We also use a number of affiliate providers, who's links you click on in our writing. A complete list can be found <a href="/en/affiliates">here</a>.</p>
</p>
<p>
  We may use Unsplash and Flickr to provide images for our site. We/They do not collect any information from these services, and all images are linked directly to their source.
</p>
<p>
  To improve the Services and your experience on our site, we may collect aggregate usage data from the Services and our website, including number of page views, visitor browser types, operating systems, or the links clicked to navigate to and from our site. We use <a href="https://www.simpleanalytics.com/#why">SimpleAnalytics</a>, which is a privacy-focused alternative to Google Analytics. Due to this, no consent is required.
</p>

<h3>
  2. The Daniela and Will Travel Blog never sells your email address or any other Personal Info you volunteer
</h3>
<p>
  We do not receive payment in cash or in kind from third parties in exchange for your Personal Info. Further, we do not allow third parties to collect info about you on our site through cookies or other means.
</p>
<p>
  While we are partners with GetYourGuide and Booking.com (through Awin), we do not share any Personal Info with them unless you explicitly provide it and consent to it (which you give by clicking on a link to their website(s)). We have even gone so far as to remove the tracking code from our site to ensure that no Personal Info is shared with them.
</p>

<h3>
  3. The Daniela and Will Travel Blog retains the Personal Info you volunteer for one month or less
</h3>
<p>
  We remove your Personal Info from our records within 30 days of any request to do so. Even if you do not request it, we will automatically remove your Personal Info from our records after 30 days, since that is how long our SimpleAnalytics plan is good for.
</p>

<h3>
  4. Transparency report
</h3>
<p>
  As explained above, we will comply with a request for user data when the law requires it, but we require valid legal process to compel the disclosure of user data to the government; such as a legitimate and properly scoped court order, or a search warrant supported by probable cause and issued by an appropriate law enforcement authority. We interpret requests narrowly, and we will oppose unlawful or overbroad requests for specific user data.
</p>

<h2>Changes to this policy</h2>
<p>
  We may make small, inconsequential changes to this policy with or without notice to you, so you are encouraged to review the policy from time to time.
</p>

<p><i>Adapted from that of <a href="disconnect.me">disconnect.me</a>.</i></p>
