---
layout: page
title: Tools
tags: 'tools'
draft: false
eleventyExcludeFromCollections: true
seo:
  title: Tools
  description: Check out the tools we use to plan our trips and travel the world.
  changeFrequency: monthly
  sitemapPriority: '1.0'
  excludeFromSitemap: false
  noIndex: false
---

Check out the tools we use to plan our trips and travel the world! We have a few different categories of tools that we use, and we will be adding more as we go along. If you have any suggestions for tools that you think we should add, please let us know!

<br>
<div>
  <h2>Spreadsheets</h2>
  <p>We share the spreadsheets that we use to plan, budget, and organize our travel adventures.</p>
</div>
<div class="travel-guides-container-countries">
  <div class="travel-guide-countries">
    <div style="padding-bottom: 0.5em;">
        <h3 class="center-text"><a style="text-decoration: none;" href="/assets/files/asiabudget.xlsx">SEA Budget Sheet</a></h3>
    </div>
    <div>
        <a style="text-decoration: none;" href="/assets/files/asiabudget.xlsx">{% image "/assets/img/tools/sheet.png", "", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
    </div>
  </div>
  <div class="travel-guide-countries">
    <div style="padding-bottom: 0.5em;">
        <h3 class="center-text"><a style="text-decoration: none;" href="/assets/files/europebudget.xlsx">Europe Budget Sheet</a></h3>
    </div>
    <div>
        <a style="text-decoration: none;" href="/assets/files/europebudget.xlsx">{% image "/assets/img/tools/sheet.png", "", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
    </div>
  </div>
</div>

<div>
  <h2>Reviews</h2>
  <p>Every once in a while we find a product so good (or bad) that we have to write a review and share it!</p>
</div>
<div class="travel-guides-container-countries">
  <div class="travel-guide-countries">
    <div style="padding-bottom: 0.5em;">
        <h3 class="center-text"><a style="text-decoration: none;" href="/en/writing/ltt-commuter-backpack-review/">LTT Commuter Backpack</a></h3>
    </div>
    <div>
        <a style="text-decoration: none;" href="/en/writing/ltt-commuter-backpack-review/">{% image "/assets/img/posts/reviews/lttbagmain.JPG", "", "100vw", "", "rounded", "lazy", "auto", "async", "2400", "1600" %}</a>
    </div>
  </div>
</div>
